@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap');

body{
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit", sans-serif;
    display: flex;
    justify-content: center; 
    align-items: center;   
}

#container{
    background-color: hsl(0, 0%, 100%);
    width: 275px;
    height: 470px;
    margin: 140px 600px;
    border-radius: 20px;
}

h3{
    color: hsl(218, 44%, 22%);
    padding: 10px;
    padding-left: 0 10px;
    text-align: center;
}
p{
    font-size: 15px;
    color: hsl(220, 15%, 55%); 
    padding: 0 10px;
    text-align: center;
}
#pics{
    border-radius: 10px;
}
#top{
    padding: 13px;
}
